@use 'mixin/_display' as *;
@use 'mixin/_font' as *;

.toEventReport {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 180px;
    height: 180px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.hero {
    width: 100%;
    height: 660px;
    background: url('/hero-bg-img.png') center center no-repeat, $color-white;
    background-size: cover;
    display: grid;
    place-content: center;
    &__container {
        @include display-flex(row, space-between, flex-start);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
    &__left {
        width: fit-content;
        max-width: 50%;
        @include display-flex(column, flex-start, flex-start);
        row-gap: 20px;
    }
    &__subtitle {
        margin-bottom: -20px;
        font-family: $font-playfair-display;
        font-size: clamp(22px, calc(42 / 1280 * 100vw), 42px);
        font-weight: 600;
        line-height: 100%;
        color: $color-red;
    }
    &__title {
        font-family: $font-playfair-display;
        font-size: clamp(42px, calc(80 / 1280 * 100vw), 80px);
        font-weight: 900;
        line-height: 100%;
        color: $color-red;
    }
    &__date-title {
        font-family: 'Arial Black', sans-serif;
        font-size: clamp(16px, calc(21 / 1280 * 100vw), 21px);
        line-height: 100%;
        color: $color-white;
        text-align: center;
        background-color: $color-green;
        padding: 10px 20px;
        border-radius: 22px;
    }
    &__date {
        font-family: $font-arial;
        font-size: clamp(16px, calc(26 / 1280 * 100vw), 26px);
        font-weight: 700;
        line-height: 120%;
        color: $color-green;
    }
    &__be-okinawa-logo {
        display: block;
        width: 120px;
        height: auto;
        object-fit: contain;
    }
    &__right {
        width: 40%;
        height: fit-content;
        @include display-flex(row, space-between, stretch);
        flex-wrap: wrap;
        gap: 20px;
        &-img {
            width: calc(100% / 2 - 10px);
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 6px;
        }
    }
}
.intro {
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    background-color: $color-pink;
    &__container {
        @include display-1280;
        @include display-flex(row, space-between, center);
        flex-wrap: wrap;
        gap: 20px;
        padding: 60px 40px;
    }
    &__left {
        width: 40%;
        height: fit-content;
        &-img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__right {
        width: 55%;
        height: fit-content;
        &-content {
            font-family: $font-poppins;
            font-size: clamp(18px, calc(22 / 1280 * 100vw), 22px);
            font-weight: 500;
            line-height: 150%;
            color: $color-black;
        }
    }
}
.detail {
    width: 100%;
    height: auto;
    padding: 120px 0;
    &__img-container {
        @include display-1280;
        @include display-flex(row, center, stretch);
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;
        img {
            width: calc(100% / 3 - 20px);
        }
    }
    &__text {
        font-family: $font-noto-jp;
        font-size: clamp(18px, calc(22 / 1280 * 100vw), 22px);
        font-weight: 500;
        line-height: 150%;
        text-align: center;
    }
}
.certificate {
    padding: 70px 0;
    background-color: $color-light-green;
    &__inner {
        @include display-1280;
        @include display-flex(row, center, flex-end);
        flex-wrap: wrap;
        gap: 40px;
    }
    &__block {
        width: calc(100% / 3 - 40px);
        &--img {
            width: 100%;
            height: auto;
        }
        &--text {
            padding-left: 10px;
            font-family: $font-arial;
            font-size: clamp(13px, 15px, 15px);
            font-weight: 400;
            line-height: 100%;
            color: $color-gray;
        }
    }
}

.gallery {
    @include display-1280;
    margin-top: 120px;
    margin-bottom: 120px;
    @include display-flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 20px;
    img {
        width: calc(100% / 4 - 20px);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 6px;
    }
}
footer {
    background-color: $color-footer-green;
    padding: 60px 0;
    .footer__copyright {
        font-family: $font-arial;
        font-size: 14px;
        font-weight: 400;
        color: $color-white;
        line-height: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 90vh;
        box-sizing: content-box;
        background: url('/hero-bg-img-sp.png') center center no-repeat, $color-white;
        background-size: cover;
        &__container {
            @include display-flex(column, center, flex-start);
            row-gap: 50px;
            @include display-100sp;
            max-width: 100vw;
            margin: 0 auto;
            box-sizing: border-box;
        }
        &__left {
            width: fit-content;
            max-width: 100vw;
        }
        &__be-okinawa-logo {
            width: 100px;
        }
        &__right {
            width: 100%;
            gap: 5px;
            &-img {
                width: calc(100% / 4 - 10px);
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }
    .intro {
        &__container {
            @include display-100sp;
            padding-top: 60px;
            padding-bottom: 60px;
            @include display-flex(row, space-between, center);
            flex-wrap: wrap;
            gap: 20px;
            box-sizing: border-box;
        }
        &__left {
            width: 100%;
            height: auto;
            &-img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        &__right {
            width: 100%;
            height: auto;
        }
    }
    .detail {
        padding: 60px 0;
        &__img-container {
            @include display-100sp;
            box-sizing: border-box;
            margin-bottom: 20px;
            img {
                width: 100%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
        &__text {
            @include display-100sp;
            box-sizing: border-box;
            text-align: left;
        }
        &__img-container--sp {
            @include display-100sp;
            @include display-flex(row, space-between, flex-start);
            box-sizing: border-box;
            margin-top: 20px;
            img {
                width: 48%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
    }
    .certificate {
        padding: 40px 0;
        &__inner {
            @include display-100sp;
            box-sizing: border-box;
            @include display-flex(column, center, center);
            gap: 20px;
        }
        &__block {
            width: 80%;
        }
    }

    .gallery {
        @include display-100sp;
        box-sizing: border-box;
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 20px;
        img {
            width: calc(100% / 2 - 20px);
        }
    }
    footer {
        padding: 30px 0;
    }
}
