$font-arial: 'Arial', sans-serif;
$font-noto-jp: 'Noto Sans JP', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-playfair-display: 'Playfair Display', serif;

$color-white: #fff;
$color-black: #000;
$color-gray: #666666;
$color-green: #449e94;
$color-light-green: #d5ddcf;
$color-footer-green: #007f78;
$color-red: #8f5440;
$color-pink: #f8b49d;
