@use 'mixin/_display' as *;
@use 'mixin/_font' as *;
.hero {
    background: url('/hero-bg.png') no-repeat bottom right, #000;
    background-size: contain;
    width: 100%;
    height: 800px;
    position: relative;
    display: grid;
    place-content: center;
    &__inner {
        max-width: 1280px;
        min-width: 80vw;
        margin: 0 auto;
    }
    &--title {
        font-family: $font-bogue-slab-bold;
        font-size: clamp(38px, 5vw, 74px);
        font-weight: 700;
        color: $color-white;
        line-height: 100%;
    }
    &--subtitle {
        margin-top: 10px;
        font-family: $font-poppins;
        font-size: clamp(20px, 2.25vw, 32px);
        font-weight: 600;
        color: $color-white;
        line-height: 120%;
    }
    &--date {
        display: grid;
        grid-template-columns: 100px auto;
        margin-top: 10px;
        font-family: $font-poppins;
        font-size: clamp(16px, calc(30 / 1280 * 100vw), 30px);
        font-weight: 400;
        color: $color-yellow;
        line-height: 130%;
        p {
            text-align: left;
        }
    }
    &__wagyu-logo {
        margin-top: 50px;
        width: 150px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.intro {
    padding: 56px 0;
    &--text {
        @include display-1280;
        font-family: $font-poppins;
        font-size: clamp(18px, calc(27 / 1440 * 100vw), 27px);
        font-weight: 500;
        line-height: 126%;
        color: $color-black;
        text-align: center;
    }
}
.highlights {
    @include display-1280;
    &--title {
        font-family: $font-poppins;
        font-size: clamp(24px, 2.08vw, 30px);
        font-weight: 400;
        color: $color-white;
        line-height: 100%;
        background-color: $color-red;
        padding: 10px 0;
        text-align: center;
    }
    &__inner {
        margin: 20px auto 0;
        @include display-flex(row, center, stretch);
        flex-wrap: wrap;
        gap: 20px;
    }
    &__block {
        width: calc(100% / 3 - 20px);
        background-color: $color-light-yellow;
        aspect-ratio: 1/0.8;
        box-sizing: border-box;
        &:nth-child(even) {
            padding: 30px;
        }
        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
        &--title {
            font-family: $font-poppins;
            font-size: clamp(18px, 20px, 20px);
            font-weight: 400;
            line-height: 120%;
            color: $color-red;
        }
        &--text {
            font-family: $font-poppins;
            font-size: clamp(16px, 18px, 18px);
            font-weight: 400;
            line-height: 140%;
            color: $color-black;
        }
    }
    &--text {
        padding: 84px 0;
        font-family: $font-noto-jp;
        font-size: clamp(18px, calc(22 / 1440 * 100vw), 22px);
        font-weight: 400;
        line-height: 160%;
        color: $color-black;
        text-align: center;
    }
}
.certificate {
    padding: 70px 0;
    background-color: $color-pink;
    &__inner {
        @include display-1280;
        @include display-flex(row, center, stretch);
        flex-wrap: wrap;
        gap: 40px;
    }
    &__block {
        width: calc(100% / 3 - 40px);
        &--img {
            width: 100%;
            height: auto;
        }
        &--text {
            padding-left: 10px;
            font-family: $font-poppins;
            font-size: clamp(13px, 15px, 15px);
            font-weight: 400;
            line-height: 100%;
            color: $color-gray;
        }
    }
}
.video {
    padding: 140px 40px;
    &--title {
        margin-bottom: 70px;
        font-family: $font-bogue-slab-bold;
        font-size: clamp(32px, calc(54 / 1280 * 100vw), 54px);
        font-weight: 600;
        color: $color-black;
        text-align: center;
    }
    &__inner {
        width: 100%;
        aspect-ratio: 16/9;
        display: grid;
        place-items: center;
    }
    &__iframe {
        width: 90%;
        max-width: 1200px;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}
.gallery {
    @include display-1280;
    margin-bottom: 60px;
    @include display-flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 20px;
    img {
        width: calc(100% / 4 - 20px);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 6px;
    }
}

footer {
    background-color: $color-red;
    padding: 60px 0;
    .footer__copyright {
        font-family: $font-poppins;
        font-size: 14px;
        font-weight: 400;
        color: $color-white;
        line-height: 100%;
        text-align: center;
    }
}
@include respond(tablet) {
    .hero {
        height: 90lvh;
        &__inner {
            max-width: 100vw;
            min-width: 80vw;
        }
        &__wagyu-logo {
            width: 100px;
            height: 100px;
        }
    }
    .highlights {
        @include display-100sp;
        box-sizing: border-box;
        &__block {
            width: 100%;
            &--title {
                margin-bottom: 10px;
            }
        }
        &--text {
            padding: 40px 0;
            text-align: left;
        }
    }
    .certificate {
        padding: 40px 0;
        &__inner {
            @include display-100sp;
            box-sizing: border-box;
            @include display-flex(column, center, center);
            gap: 20px;
        }
        &__block {
            width: 80%;
        }
    }
    .video {
        padding: 40px 20px;
        &--title {
            margin-bottom: 40px;
        }
        &__iframe {
            max-width: 100vw;
        }
    }
    .gallery {
        @include display-100sp;
        box-sizing: border-box;
        margin-bottom: 40px;
        gap: 20px;
        img {
            width: calc(100% / 2 - 20px);
        }
    }
}
