$font-eb-garamond: 'EB Garamond', serif;
$font-arial: 'Arial', sans-serif;
$font-noto-jp: 'Noto Sans JP', sans-serif;
$color-white: #fff;
$color-black: #000;
$color-gray: #666666;
$color-yellow: #e7c869;
$color-light-yellow: #efe8cc;
$color-red: #9b0313;
$color-pink: #f8e0cc;
