$font-arial: 'Arial', sans-serif;
$font-noto-jp: 'Noto Sans JP', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-eb-garamond: 'EB Garamond', serif;

$color-white: #fff;
$color-black: #000;
$color-gray: #666666;
$color-red: #8a282c;
$color-light-yellow: #f7ecd0;
$color-yellow: #e7c869;
