@use 'mixin/_display' as *;
@use 'mixin/_font' as *;
.totop {
    transition: opacity 0.5s;
    opacity: 0;
    width: 89px;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 99;
    img {
        width: 100%;
    }
    &.show {
        opacity: 1;
    }
}

.hero {
    width: 100%;
    height: 600px;
    background: url('/hero-bg-img.png') center center no-repeat;
    background-size: cover;
    &__container {
        @include display-flex(column, center, center);
        width: fit-content;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0 40px;
    }

    &__title {
        width: 100%;
        font-family: $font-trajan-pro-bold;
        font-size: clamp(60px, calc(90 / 1280 * 100vw), 90px);
        line-height: 100%;
        color: $color-yellow;
        text-align: center;
    }
    &__subtitle {
        width: 100%;
        font-family: $font-poppins;
        font-size: clamp(24px, calc(41 / 1280 * 100vw), 41px);
        font-weight: 600;
        line-height: 100%;
        color: $color-yellow;
        text-align: center;
        margin-bottom: 20px;
    }
    &__date {
        width: 100%;
        margin-bottom: 20px;
        font-family: $font-poppins;
        font-size: clamp(18px, calc(30 / 1280 * 100vw), 30px);
        font-weight: 700;
        line-height: 120%;
        color: $color-white;
        text-align: center;
    }
    &__logo-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        column-gap: 80px;

        img {
            &:first-child {
                width: 256px;
                height: auto;
                object-fit: contain;
            }
            &:last-child {
                width: 122px;
                height: auto;
                object-fit: contain;
            }
            display: block;
            margin: 0 auto;
        }
    }
}

.detail {
    width: 100%;
    height: auto;
    padding: 120px 0;
    &__img-container {
        @include display-1280;
        @include display-flex(row, center, stretch);
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;
        img {
            width: calc(100% / 3 - 20px);
        }
    }
    &__text {
        padding: 0 40px;
        max-width: 1060px;
        font-family: $font-noto-jp;
        font-size: clamp(18px, calc(20 / 1280 * 100vw), 20px);
        font-weight: 500;
        line-height: 160%;
        text-align: center;
        margin: 0 auto;

        &-eng {
            margin-bottom: 40px;
            font-family: $font-poppins;
            font-size: clamp(18px, calc(22 / 1280 * 100vw), 22px);
            font-weight: 500;
            line-height: 150%;
            text-align: center;
        }
    }
}
.certificate {
    padding: 70px 0;
    background-color: $color-bg-yellow;
    &__inner {
        @include display-1280;
        @include display-flex(row, center, flex-start);
        flex-wrap: wrap;
        gap: 40px;
    }
    &__block {
        width: calc(100% / 3 - 40px);
        &--img {
            width: 100%;
            height: auto;
        }
        &--text {
            padding-left: 10px;
            font-family: $font-arial;
            font-size: clamp(13px, 15px, 15px);
            font-weight: 400;
            line-height: 100%;
            color: $color-gray;
        }
    }
}

.gallery {
    @include display-1280;
    margin-top: 120px;
    margin-bottom: 120px;
    @include display-flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 20px;
    img {
        width: calc(100% / 4 - 20px);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 6px;
    }
}
footer {
    background-color: #333;
    padding: 60px 0;
    .footer__copyright {
        font-family: $font-arial;
        font-size: 14px;
        font-weight: 400;
        color: $color-white;
        line-height: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .totop {
        width: 70px;
    }
    .hero {
        height: 90vh;
        background: url('/hero-bg-img.png') center bottom no-repeat;
        background-size: cover;
        &__container {
            padding: 0 20px;
            @include display-flex(column, flex-start, center);
            row-gap: 20px;
            width: 100%;
            height: 100%;
            max-width: 100vw;
            padding-top: 10vh;
            box-sizing: border-box;
        }
        &__date {
            margin-bottom: 0;
        }
        &__logo-container {
            column-gap: 20px;

            img {
                &:first-child {
                    width: 200px;
                    height: auto;
                    object-fit: contain;
                }
                &:last-child {
                    width: 110px;
                    height: auto;
                    object-fit: contain;
                }
                display: block;
                margin: 0 auto;
            }
        }
    }

    .detail {
        padding: 60px 0;
        &__img-container {
            @include display-100sp;
            box-sizing: border-box;
            margin-bottom: 20px;
            img {
                width: 100%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
        &__text {
            @include display-100sp;
            box-sizing: border-box;
            text-align: left;
        }
        &__img-container--sp {
            @include display-100sp;
            @include display-flex(row, space-between, flex-start);
            box-sizing: border-box;
            margin-top: 20px;
            img {
                width: 48%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
    }
    .certificate {
        padding: 40px 0;
        &__inner {
            @include display-100sp;
            box-sizing: border-box;
            @include display-flex(column, center, center);
            gap: 20px;
        }
        &__block {
            width: 80%;
        }
    }

    .gallery {
        @include display-100sp;
        box-sizing: border-box;
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 20px;
        img {
            width: calc(100% / 2 - 20px);
        }
    }
    footer {
        padding: 30px 0;
    }
}
