@use 'mixin/_display' as *;
@use 'mixin/_font' as *;
.toEventReport {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 180px;
    height: 180px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
.hero {
    width: 100%;
    height: 660px;
    background: url('/hero-bg-img.png') center right no-repeat, $color-blue;
    background-size: cover;
    &__container {
        @include display-flex(column, center, flex-start);
        row-gap: 20px;
        width: 90%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }

    &__title {
        font-family: $font-trajan-pro;
        font-size: clamp(70px, calc(130 / 1280 * 100vw), 130px);
        line-height: 100%;
        color: $color-white;
        text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.35);
    }
    &__subtitle {
        font-family: $font-arial;
        font-size: clamp(24px, calc(52 / 1280 * 100vw), 52px);
        font-weight: 600;
        line-height: 100%;
        color: $color-white;
        text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.35);
    }
    &__date {
        margin-bottom: 20px;
        font-family: $font-arial;
        font-size: clamp(18px, calc(26 / 1280 * 100vw), 26px);
        font-weight: 700;
        line-height: 120%;
        color: $color-yellow;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__img-container {
        @include display-flex(row, center, center);
        gap: 10px;

        img {
            display: block;
            width: 200px;
            height: auto;
            object-fit: contain;
        }
    }
}

.detail {
    width: 100%;
    height: auto;
    padding: 120px 0;
    &__img-container {
        @include display-1280;
        @include display-flex(row, center, stretch);
        margin-bottom: 40px;
        flex-wrap: wrap;
        gap: 20px;
        img {
            width: calc(100% / 3 - 20px);
        }
    }
    &__text {
        font-family: $font-noto-jp;
        font-size: clamp(18px, calc(22 / 1280 * 100vw), 22px);
        font-weight: 500;
        line-height: 150%;
        text-align: center;
        &-eng {
            margin-bottom: 40px;
            font-family: $font-arial;
            font-size: clamp(22px, calc(27 / 1280 * 100vw), 27px);
            font-weight: 700;
            line-height: 150%;
            text-align: center;
        }
    }
}
.certificate {
    padding: 70px 0;
    background-color: $color-bg-yellow;
    &__inner {
        @include display-1280;
        @include display-flex(row, center, flex-end);
        flex-wrap: wrap;
        gap: 40px;
    }
    &__block {
        width: calc(100% / 3 - 40px);
        &--img {
            width: 100%;
            height: auto;
        }
        &--text {
            padding-left: 10px;
            font-family: $font-arial;
            font-size: clamp(13px, 15px, 15px);
            font-weight: 400;
            line-height: 100%;
            color: $color-gray;
        }
    }
}

.gallery {
    @include display-1280;
    margin-top: 120px;
    margin-bottom: 120px;
    @include display-flex(row, center, stretch);
    flex-wrap: wrap;
    gap: 20px;
    img {
        width: calc(100% / 4 - 20px);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 6px;
    }
}
footer {
    background-color: $color-blue;
    padding: 60px 0;
    .footer__copyright {
        font-family: $font-arial;
        font-size: 14px;
        font-weight: 400;
        color: $color-white;
        line-height: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .toEventReport {
        top: auto;
        bottom: 50px;
        width: 120px;
        height: 120px;
    }
    .hero {
        height: 90vh;
        background: url('/hero-bg-img-sp.png') center bottom no-repeat, $color-blue;
        background-size: cover;
        &__container {
            padding: 0 20px;
            @include display-flex(column, flex-start, flex-start);
            row-gap: 20px;
            width: 100%;
            height: 100%;
            max-width: 100vw;
            padding-top: 10vh;
            box-sizing: border-box;
        }
        &__date {
            margin-bottom: 0;
        }
        &__img-container {
            display: none;
        }
    }

    .detail {
        padding: 60px 0;
        &__img-container {
            @include display-100sp;
            box-sizing: border-box;
            margin-bottom: 20px;
            img {
                width: 100%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
        &__text {
            @include display-100sp;
            box-sizing: border-box;
            text-align: left;
        }
        &__img-container--sp {
            @include display-100sp;
            @include display-flex(row, space-between, flex-start);
            box-sizing: border-box;
            margin-top: 20px;
            img {
                width: 48%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }
    }
    .certificate {
        padding: 40px 0;
        &__inner {
            @include display-100sp;
            box-sizing: border-box;
            @include display-flex(column, center, center);
            gap: 20px;
        }
        &__block {
            width: 80%;
        }
    }

    .gallery {
        @include display-100sp;
        box-sizing: border-box;
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 20px;
        img {
            width: calc(100% / 2 - 20px);
        }
    }
    footer {
        padding: 30px 0;
    }
}
